[client]
port            = 3306
socket          = /tmp/mysql.sock
[mysqld]
port            = 3306
socket          = /tmp/mysql.sock
basedir=/usr/local/mysql
datadir=/data/mysql/data
character-set-server = utf8
skip-character-set-client-handshake
skip-name-resolve
event_scheduler=ON
user = mysql


#####     Global Buffers     ###########################################
key_buffer_size = 8M
innodb_buffer_pool_size = 512M
innodb_log_buffer_size = 16M
innodb_additional_mem_pool_size = 16M
net_buffer_length = 16K

#####     Thread Buffers     ###########################################
sort_buffer_size = 1M
myisam_sort_buffer_size = 4K
read_buffer_size = 1M
join_buffer_size = 1M
read_rnd_buffer_size = 1M

#####    InnoDB Parameters   ###########################################
innodb_file_per_table
innodb_log_file_size = 128M
innodb_log_files_in_group = 4
innodb_flush_method = O_DIRECT
innodb_flush_log_at_trx_commit = 2
skip-innodb-doublewrite

max_heap_table_size = 256M
tmp_table_size = 128M
query_cache_size = 64M

max_connect_errors = 1000
max_connections = 1024
table_open_cache = 1024
thread_cache_size = 100
wait_timeout = 28800
open_files_limit = 15360

#########MASTER TO MASTER##############################################
server-id       = 1
#log-bin=mysql-bin
#binlog-do-db=ins
#binlog-do-db=workflow
#binlog-ignore-db=mysql
#replicate-do-db=ins
#replicate-do-db=workflow
#replicate-ignore-db=mysql
#log-slave-updates
#slave-skip-errors=all
#sync_binlog=1
#auto_increment_increment=2
#auto_increment_offset=1

########################################################################
slow_query_log=1
log_output = FILE
slow_query_log_file = /data/log/mysql/mysql-slow.log
long_query_time = 2
log_queries_not_using_indexes = 1
lower_case_table_names=1
expire_logs_days = 7
